@import 'variables';

html
body{
    max-width: 1440px;
    height: auto;
    font-family: $font-stack;
    font-style: $font-style;
    font-weight: $font-weight;
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Header start
header{
    width: 100%;
    height: 955px;
    background-image: url('/images/bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;

    nav{
        width: 100%;
        height: 54px;
        padding-top: 32px;
        padding-right: 146px;
        margin-bottom: 198px;
    
        ul{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 32px;
    
            li{
                list-style-type: none;
                padding: 12px 0;
                font-family: $font-stack;
                font-size: $font-size;
                line-height: 30px;
    
                a{
                    text-decoration: none;
                    color: $primary-font-color;
                    transition: border 0.5s linear;

                    &:hover{
                        border-bottom: 2px solid #FF4D01;
                    }
                }    
            }
            
            button{
                width: 129px;
                height: 54px;
                padding: 17px 24px 19px 24px;
                background: #FF4D01;

                a{
                    text-decoration: none;
                    color: $primary-font-color;
                }
            }
        }
    }

    div.home-container{
        width: 100%;
        height: 359px;
        margin: 165px auto 344px auto;
        text-align: center;
        color: $primary-font-color;
        
        p:nth-child(1){
            width: 660px;
            height: 169px;
            margin: 0 auto 20px auto;
            font-size: 72px;
            line-height: 84px;
        }
    
        p:nth-child(2){
            width: 640px;
            height: 61px;
            margin: 0 auto 35px auto;
            font-size: 18px;
            line-height: 30px;
        }

        div.btn-group{
            justify-content: center;
        
            button:nth-of-type(2){
                color: $primary-font-color;
            }
        }
    }
}

// About start
.about{
    width: 100%;
    height: 978px;
    padding: 144px 146px 299px 146px;
    display: flex;
    gap: 73px;

    div.about-info{
        width: 596px;
        height: 649px;
        padding-top: 39px;
    
        p:nth-of-type(2){
            width: 522px;
            height: 186px;
        }
    
        p:nth-of-type(3){
            height: 121px;
            margin-bottom: 56px;
            font-size: 18px;
            line-height: 30px;
            color: #605E5D;
        }
    
    }

    div.about-statistic{
        max-width: 596px;
        height: 107px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
        
        div:nth-of-type(1){
            width: 154px;
        }
    
        div:nth-of-type(2){
            width: 109px;
        }
    
        div:nth-of-type(3){
            width: 161px;
        }
    
        div.statistic-item{
            text-align: center;
    
            p:nth-of-type(1){
                font-size: 72px;
                line-height: 84px;
                color: #191919;
    
                span{
                    color: #FF4D01;
                }
            }
    
            p:nth-of-type(2){
                width: 100%;
                height: 20px;
                font-size: 18px;
                line-height: 20px;
                color: #989899;
            }    
        }
    }
}

// Services start
#services{
    width: 1196px;
    height: 1204px;
    padding: 0 146px 299.77px 146px;
}

.service-container{
    width: 1148px;
    height: 680.23px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 28px;

    div{
        flex: 1 1 304px;
        height: 304.23px;
    }

    div:nth-child(1){
        img{
            height: 68px;
            border-bottom: 32px;
        }

        p.project-description{
            margin-bottom: 13px;
        }
    }

    div:nth-child(2){
        img{
            height: 70px;
            border-bottom: 32px;
        }

        p.project-title{
            margin-bottom: 15px;
        }

        p.project-description{
            margin-bottom: 11px;
        }
    }

    div:nth-child(3){
        img{
            height: 61px;
            border-bottom: 32px;
        }

        p.project-title{
            margin-bottom: 15px;
        }

        p.project-description{
            margin-bottom: 20px;
        }
    }

    div:nth-child(4){
        img{
            height: 78px;
            border-bottom: 32px;
        }

        p.project-description{
            margin-bottom: 11px;
        }
    }

    div:nth-child(5){
        img{
            height: 63px;
            border-bottom: 32px;
        }

        p.project-description{
            margin-bottom: 14px;
        }

        p.project-description{
            margin-bottom: 26px;
        }
    }

    div:nth-child(6){
        img{
            height: 70px;
            border-bottom: 32px;
        }

        p.project-description{
            margin-bottom: 15px;
        }

        p.project-description{
            margin-bottom: 19px;
        }
    }
}

.shorter-box{
    height: 296px;
    margin-bottom: 40px;
}

.service-item{
    img{
        width: 70px;
        height: 70px;
        margin-bottom: 31px;
    }

    p.poject-title{
        height: 48px;
        font-size: 34px;
        line-height: 48px;
        color: #191919;
        margin-bottom: 14px;
    }
    p.project-description{
        height: 91px;
        font-size: 18px;
        line-height: 30px;
        color: #605E5D;
        margin-bottom: 17px;
    }

    div.learn-more-box{
        height: 30px;
        display: flex;
        align-items: center;
        
        p.black-box{
            width: 30px;
            height: 30px;
            background: #191919;
            margin-right: 10px;
        } 

        p{
            font-size: 18px;
            line-height: 20px;
            color: #191919;
        }   
    }
}
// Get quote start
#get-quote{
    width: 100%;
    height: 515px;
    background: url("/images/constraction.png") no-repeat;
    background-size: cover;
    padding: 116.23px 0 115.77px 146px;

    div.get-quote-conatainer{
        width: 610.91px;
        height: 313px;
    
        p.chapter-slogan{
            margin-bottom: 20px; 
         }
        
        p.chapter-description{
           margin-bottom: 35px; 
        }
    } 
}

// Decoration bg-image
div.bg-decoration-image{
    width: 876px;
    height: 440px;
    margin: 0 auto;
    background: url('/images/decoration.png');
    opacity: 50%;
}

// Why choose us section start
.why-choose-us-wrapper{
    width: 1196px;
    height: 1168px;
    padding: 0 20px;
    position: relative;
    top: -140px;
    margin: 0 auto 300.23px auto;

    & > div{
        width: 1148px;
        height: 534px;
        display: flex;
        gap: 82px;
    }

    p.chapter-desctiption{
        height: 91px;
        font-size: 18px;
        line-height: 30px;
        color: #605E5D;
    }

    img{
        width: 534px;
        height: 534px;
    }

    div.top-side{
        margin-bottom: 99.77px;
   
        div.why-choose-us-info-container{
            padding-top: 41.77px;
            
            p.chapter-desctiption{
                height: 91px;
                margin-bottom: 17px;
            }
            
            div.company-experince{
                p{
                 font-size: 18px;
                 line-height: 20px;
                 color: #191919;
                 margin-bottom: 19px;
                 
                 span{
                    color: #FF4D01;
                    margin-right: 11.44px;
                 }
     
                }
            }
        } 
    }

    div.bottom-side{
        div.why-choose-us-info-container{

            p.chapter-slogan{
                margin-top: 70.77px;
            }

            p.chapter-desctiption{
                width: 508px;
                margin-bottom: 9px;
            }
        }

        div.statistic{
            width: 100%;
            height: 84px;
            display: flex;
            gap: 40px;

            div{
                text-align: center;
            }

            P{
                span{
                    color: #FF4D01;
                }
            }

            p:nth-of-type(1){
                font-size: 54px;
                line-height: 62px;
                color: #191919;
            }

            p:nth-of-type(2){
                width: 159px;
                font-size: 18px;
                line-height: 20px;
                color: #989899;
            }

        }
    }         
}

// Project section start
#projects{
    width: 1440px;
    height: 1229.11px;
    padding-bottom: 240.34px;

    div.heading-container{
        margin: 0 auto 63.77px auto;

        p.chapter-slogan{
            width: 602px;
        }
    }

    div.projects-container{
        max-width: 100%;
        height: 611px;
        margin-left: 146px;
        margin-bottom: 66px;
        display: flex;
        flex-direction: row;
        gap: 64px;
        overflow: hidden;
       
        
        div{
            padding: 0;
            margin: 0;
            width: 545px;
            height: 611px;
            position: relative;
        }   
         
        div.project-info-box{
            width: 485px;
            height: 281px;
            position: absolute;
            top: 300.34px;
            left: 30px;

            p:nth-of-type(1){
                height: 97px;
                font-size: 34px;
                line-height: 48px;
                margin-bottom: 16px; 
                color: #FFFFFF;
            }

            p:nth-of-type(2){
                width: 447px;
                height: 61px;
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 78px;
                color: #EAEAEB;
            }
        }

        div.project-type-box{
            width: 485px;
            height: 30px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            gap: 9.77px;

            img{
                width: 28.47px;
                height: 29px;
            }

            p.project-type-name{
                width: 100px;
                height: 20px;
                margin-bottom: 0;
                font-size: 18px;
                line-height: 20px;
                color: #EAEAEB;
            }
        }

        div:nth-of-type(1){
            p:nth-of-type(1){
                width: 361px;
            }
        }

        div:nth-of-type(2){
            p:nth-of-type(1){
                width: 332px;
            }
        }
    }
    
}

.navigation-btn{
    width: 168px;
    height: 72px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 24px;

    div{
        width: 72px;
        height: 72px;
    }

    div.pre{
        border: 2px solid #191919;
    }

    div.next{
        background: #FF4D01;
        border: 2px solid #FF4D01;
    }
}

.padding-left{
    padding-left: 68px;
}

// Testimonials section start
.testimonials{
    width: 1440px;
    height: 629.98px;
    margin-bottom: 220.02px;

    div.heading-container{
        margin-bottom: 108px;

        div:nth-of-type(1){
            width: 1000px;
        }

        p.chapter-slogan{
            width: 530px;
            height: 124px;
            margin: 0;
        }

        div.navigation-btn{
            align-self: center;

            div{
                width: 72px;
                height: 72px;
            }
        }
    }
    div.client-container{
        width: 1440px;
        height: 318px;
        display: flex;
        gap: 108px;
        padding-left: 146px;
        overflow: hidden;

        div.client{
            width: 740px;
            height: 318px;
            display: flex;
            align-items: center;
            gap: 38px;

            div.client-info-box{
                width: 362px;
                height: 261px;

                p:nth-of-type(1){
                    width: 276px;
                    height: 76px;
                    margin-bottom: 13px;
                    font-size: 28px;
                    line-height: 38px;
                    color: #191919;
                }

                p:nth-of-type(2){
                    width: 360px;
                    height: 91px;
                    margin-bottom: 33px;
                    font-size: 18px;
                    line-height: 30px;
                    color: #989899;
                }

                div.client-name{
                    height: 45px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    div:nth-of-type(1){
                        width: 200px;

                        p:nth-of-type(1){
                            height: 20px;
                            margin-bottom: 6px;
                            font-size: 18px;
                            line-height: 20px;
                            color: #191919;
                        }
        
                        p:nth-of-type(2){
                            height: 20px;
                            margin: 0;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: 0.84px;
                            text-transform: uppercase;
                            color: #989899;
                        }
                    }
                   
                    div:nth-of-type(2){
                        width: 32px;
                        height: 32px;
                        background: #FF4D01;
                    }
                }
            }
        }
    } 
      
}

// Blog section start
#blog{
    width: 1196px;
    height: 899px;
    margin: 0 auto 72.33px auto;
    display: block;
    display: flex;
    flex-direction: column;

    div.heading-container{
        width: 1148px;
        height: 99px;
        margin-bottom: 66.67px;

        p.chapter-slogan{
            width: 380px;
            height: 62px;
        }

        div.btn-group{
            align-items: flex-end;
        }
    }

    div.blog-container{
        width: 100%;
        height: 736px;
        display: flex;
        gap: 24px;
        margin: 0 auto;
        padding-left: 24px;

        div.left-side{
            width: 562px;
            height: 718px;

            img{
                width: 562px;
                height: 562px;
                margin-bottom: 27px;
            }

            p:nth-of-type(1){
                width: 511px;
                height: 97px;
                margin-bottom: 8px;
                font-size: 34px;
                line-height: 48px;
                color: #191919;
            }
            
            p:nth-of-type(2){
                height: 20px;
                padding-left: 31px;
                font-size: 18px;
                line-height: 20px;
                color: #605E5D;
            }
        }
        
        div.right-side{
            width: 562px;
            display: flex;
            flex-direction: column;
            gap: 32px;

            div.blog-item{
                height: 224px;
                display: flex;
            
                div{
                    display: block;
                    padding-top: 33.37px;
                }

                img{
                    width: 224px;
                    height: 224px;
                    margin-right: 24px;
                }
                
                p:nth-of-type(1){
                    width: 287px;
                    height: 152px;
                    margin-bottom: 19px;
                    font-size: 28px;
                    line-height: 38px;
                    color: #191919;
                }
                
                p:nth-of-type(2){
                    height: 20px;
                    padding-left: 31px;
                    margin-bottom: 8px;
                    font-size: 18px;
                    line-height: 20px;
                    display: block;
                    color: #605E5D;
                }
            }
           
            div:nth-of-type(1){
                div{
                    padding-top: 15.17px;
                }
            } 

            div:nth-of-type(2){
                p:nth-of-type(1){
                    width: 293px;
                    height: 114px;
                    margin-bottom: 21px;
                }         
           } 

            div:nth-of-type(3){
                p:nth-of-type(1){
                    width: 264px;
                    height: 114px;
                    margin-bottom: 21px;
                }         
            }

        }
    }
}

// Footer section start
footer{
    width: 1440px;
    height: 651px;
    padding-top: 120.33px;
    background: #000000;
    color: #EAEAEB;;

    div.footer-container{
        width: 1148px;
        height: 305px;
        margin: 0 146px 159.67px 146px;
        display: flex;
        gap: 60px;
        
        div:nth-of-type(1){
            width: 202px;
            height: 305px;
            
            p{
                width: 175px;
                height: 91px;
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 35px;
            }

            div.boxes{
                height: 36px;
                display: flex;
                gap: 16px;

                div{
                    width: 36px;
                    height: 36px;
                    background: #FF4D01;
                }
            }
        }

        div:nth-of-type(2){
            width: 274px;
            height: 305px;
           
            p{
                font-size: 22px;
                line-height: 24px;
                color: #FFFFFF;
                margin-bottom: 38px;
            }
            
            div{
                display: flex;
                gap: 28px;
                
                ul{  
                    li{ 
                        width: 125px;
                        list-style-type: none;
                        margin-bottom: 17px;
                        a{  
                            font-size: 18px;
                            line-height: 20px;
                            color: #EAEAEB;
                            text-decoration: none;
                            text-transform: capitalize;
                        }
                    }
                }
            }
            
        }
        div:nth-of-type(3){
            width: 201px;
            height: 305px;
            ul{  
                li{ 
                    width: 100%;
                    list-style-type: none;
                    margin-bottom: 17px;
                    a{  
                        font-size: 18px;
                        line-height: 20px;
                        color: #EAEAEB;
                        text-decoration: none;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    div#contact{
        width: 290px;
        height: 305px;
        
        div.contact-unit{
            width: 290px;
            height: 107px;
            border: 2px solid #FF4D01;
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 29px 27.52px 30px 27px;

            p.group-heading-name{
                margin-bottom: 40px;
            }

            div.contact-info{
                width: 171px;
                height: 42px;

                p{  
                    width: 100%;
                    height: 18px;
                    font-size: 16px;
                    line-height: 18px;
                    color: #EAEAEB;
                }

                p:nth-of-type(1){
                    margin-bottom: 6px;
                }

                p:nth-of-type(2){
                    letter-spacing: 0.96px;
                    text-transform: uppercase;
                    margin: 0;
                }
            
            }
        }

        div:nth-of-type(2){
            margin-top: 18px;
            
            div.contact-info{
                display: block;

                p:nth-of-type(2){
                    letter-spacing: 0;
                    text-transform: lowercase;
                    margin: 0;
                }
            }
        }
    }

    div.designedBy{
        width: 100%;
        height: 30px;
        margin: 0 auto;
        padding: 0 146px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        P{
            font-size: 18px;
            line-height: 30px;
        }
    
        p:nth-of-type(1){
            color: #989899;
        }
    
        p:nth-of-type(2){
            color: #FFFFFF;
    
            a{  
                text-decoration: none;
                color: #FF4D01;
            }
        }
    }
}



.group-heading-name{
    font-size: 22px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.btn-group{
    width: 600px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 28px;
}

.heading-container{
    width: 1148px;
    height: 160px;
    margin: 0 auto 64px auto;
    display: flex;
    
    div:first-child{
        width: 500px;   
    }

    div:last-child{
        justify-content: flex-end;
        flex: 1;
    }
}

.btn{
    font-family: $font-stack;
    font-size: $font-size;
    height: 75px;
    line-height: 20px;

    a{
        text-decoration: none;
    }
}

.btn-bg-transparent{
    padding: 27px 40px 28px 39px;
    background: transparent;
    transition: all 1s linear;

    a{
        color: $black-font-color;
    }

    &:hover{
        cursor: pointer;
        border: 2px solid #FF4D01;
        background: $btn-bg-color;
        border: none;
        
        a{
            color: $primary-font-color;
        }
    }
}

.btn-bg-colored{
    padding: 25px 38px 30px 38px;
    background: $btn-bg-color;
    border: none;
    color: $primary-font-color;
    transition: all 1s linear;

    a{
        color: $primary-font-color;
    }

    &:hover{
        cursor: pointer;
        border: 2px solid #000000;
        background-color: transparent;

        a{
            color: $black-font-color;
        }
    }
}

.black-border{
    border: 2px solid #191919;
}

.white-border{
    border: 2px solid #FFFFFF;
   
    a{
        color: $primary-font-color;
    } 
}

.in-header{
    &:hover{
        border: 2px solid #FFFFFF; 
        background: transparent;

       a{
        color: $primary-font-color;
       }
    }
}


.chapter-name{
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: $chapter-name-color;
}

.chapter-slogan{
    margin-bottom: 19px;
    font-size: 54px;
    line-height: 62px;
    color: $chapter-slogan-color;
} 

.chapter-description{
    font-size: 18px;
    line-height: 30px;
    color: $chapter-description-color;
}