$font-stack: 'Barlow', sans-serif;
$font-size: 18px;
$font-weight: 400;
$font-style: normal;
$primary-font-color: #FFFFFF;
$black-font-color: #191919;
$btn-bg-color: #FF4D01;
$secondary-font-color: #FFFFFF;
$chapter-name-color: #FF4D01;
$chapter-slogan-color: #191919;
$chapter-description-color: #605E5D;